.App {
  background: rgb(4,0,40);
  background: linear-gradient(270deg, rgba(4,0,40,1) 0%, rgba(0,0,0,1) 25%, rgba(11,0,20,1) 75%, rgba(23,0,42,1) 100%);
  margin: 0;
  padding: 0;

  
}



.custom-btm{
  width: 150px;
  height: 40px;
  border-radius: 3rem;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  background-color: rgb(54, 54, 253);
  cursor: pointer;
  border: none;

  &:hover{
    background-color: white;
    color: black;
    transition: all 0.3s ease-in-out;
  }

}



.section-btn{
  border-radius: 5px;
  width: 90px;
  height: 40px;
  font-size: 1rem;
  background-color: #061033;
  color: #2955f1;
  border: none;

  &:hover{
    background-color:#0036fa;
    color: #0c2274  ;
    border: 3px solid #2955f1 ;
  }
}

.section-active-btn{
  border-radius: 5px;
  width: 90px;
  height: 40px;
  font-size: 1rem;
  background-color: #0036fa;
  color: #0c2274;
  border: 3px solid #2955f1 ;
}




.collect-btn{
  background-color: #2955f1;
  width: 270px;
  height:50px;
  border-radius: 10px;
  color: white;
  font-size: 1.3rem;
  cursor: pointer;

  &:hover{
    background-color: white;
    color: #0036fa;
  }
}